@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


.donation-title h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #393e46;
}

.donation-title img {
  border-radius: 4px;
  // width: 90%;
}

.donor-name {
  margin-top: 1em;
  margin-right: 4em;
}

.donation-description {
  margin-top: -10px;
}


.zigzag {
  // margin: 7.5% 0;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.zigzag:before, .zigzag:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.zigzag:before {
  height: 12px;
  top: 110%;
  background: linear-gradient(-135deg, #b9e1dc 8px, transparent 0) 0 8px, linear-gradient(135deg, #b9e1dc 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}
.zigzag:after {
  height: 16px;
  top: 100%;
  background: linear-gradient(-135deg, #F4F4F4 8px, transparent 0) 0 8px, linear-gradient(135deg, #F4F4F4 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

.receivers {
  text-align: justify;
  background-color: #b9e1dc;
  width: 95%;
}

.receivers p{
  font-size: 14px;
  color: gray;
}

.receiver-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #393e46;
  margin-top: -2em;
}

.card-donation-receiver{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow:0 0 11px 0px cadetblue;
  margin-left: -5px;
  margin-right: -5px;
  padding: 8px;
}

.section {
  background-color: #b9e1dc;
}

.oneDonation {
  min-height: 65vh;
  width: 95%;
}

.box-name {
  padding-top: 56px;
  width: 100%;
  background-color: #ff8246;
  min-height: 21vh;
  padding-left: 2em;
  box-shadow: 0 4px 13px -5px #777;
  border-radius: 24px;
  position: fixed;
  z-index: 1;
}

.tittle h2 {
  font-size: 20px;
  color: white;
}

.indexcards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -30px;
}

.titulo {
  width: 85%;
  margin-top: -25px;
}

.titulo h2 {
  font-size: 20px;
}

.titulo p {
  font-size: 17px;
}
