// Specific CSS for your home-page
.formz{
-moz-box-align: stretch;
-moz-box-direction:normal;
-moz-box-orient:vertical;
align-items:stretch;
flex-basis:auto

}


.depo-pic {
  width: 120px;
  border-radius: 4px;
  }

.depo-pic2{
  width: 120px;
  height: 140px;
  border-radius: 4px;
  margin-top: 20px;
  }

.depo-box p {
  margin-top: 6px;
  margin-bottom: 1rem;
  margin-left: 24px;
  font-size: 16px;
  text-align: justify;
  }

  .depo-box2 p {
  margin-top: 21px;
  margin-bottom: 1rem;
  margin-left: 24px;
  font-size: 16px;
  text-align: justify;
  }
