<div>
  <div class="banner-home" style="background-image: url('https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')">
      <div class="card-home-first">
        <div class='card-home-title'>
          <h1>#tralha.app</h1>

            <p id="banner-typed-text-fixed"> Descartar com a gente é
            <span id="banner-typed-text"></span>
            </p>

            <div class="card-home-infos text-center">
              <% if current_user && current_user.role == "receiver" %>
                <%= link_to "Veja suas Doações", donations_path, class: "btn-hover" %>
              <% else %>
                <%= link_to "Comece a doar", new_donation_path, class: "btn-hover" %>
              <% end %>
            </div>
        </div>

     </div>
  </div>
</div>

<div class='container'>
  <div class="card-home-second" id="anchor-link" >
    <div class="pr-0 pb-0 col-sm-12 col-md-12 d-flex justify-content-center">
      <hgroup class="speech-bubble">
        <h4>Eu sou Renê Descartes</h4>
        <p>Ajudarei você a descartar a sua tralha sem comprometer o meio ambiente. Veja <strong>aqui</strong> como funciona!</p>
      </hgroup>
    </div>
    <div class="pr-0 pb-0 col-sm-12 col-md-12 d-flex justify-content-center">
      <%= image_tag "renezin.png" %>

    </div>
  </div>
</div>

<div class="container">
  <div class='card-home-third'>
    <div class='card-home-third-infos'>
      <p>Voce sabia?</p>
    </div>


  </div>

</div>

    <!--     <div class="text-center pt-5">
          <%= link_to "#anchor-link", class:"anchor-link" do %>
          <img src="https://kids.niehs.nih.gov/resources/images/icon-hero-down.svg" alt="" width="141">
          <% end %>
        </div> -->


