<div>
  <div class="banner" style="background-image: url('https://www.moneycrashers.com/wp-content/uploads/2011/12/donate-clothes-box-1068x713.jpg')">
      <div class="card-home-first pt-5" >
        <div class='card-home-title'>
          <h1>#tralha.app</h1>
          <h5>Descartes com Sabedoria</h5>
        </div>
        <div class="card-home-infos text-center m-5 ">
          <div>
            <% if current_user && current_user.role == "receiver" %>
              <%= link_to "Veja suas Doações", donations_path, class: "btn-hover" %>
            <% else %>
                <%= link_to "Comece a doar", new_donation_path, class: "btn-hover" %>
            <% end %>
          </div>
        </div>
        <div class="text-center pt-5">
          <%= link_to "#anchor-link", class:"anchor-link" do %>
          <img src="https://kids.niehs.nih.gov/resources/images/icon-hero-down.svg" alt="" width="141">
          <% end %>
        </div>
      </div>
  </div>
</div>
<div class='container'>
  <div class="card-home-second row" id="anchor-link" >
    <div class="pr-0 pb-0 col-sm-12 col-md-12 d-flex justify-content-center">
      <hgroup class="speech-bubble">
        <h4>Eu sou Renê Descartes</h4>
        <p>Ajudarei você a descartar a sua tralha sem comprometer o meio ambiente. Você ainda colabora para que outras pessoas possam usufruir daquele seu sofá que você não gosta mais.</p>
      </hgroup>
    </div>
    <div class="pr-0 pb-0 col-sm-12 col-md-12 d-flex justify-content-center">
      <%= image_tag "renezin.png" %>
    </div>
  </div>
</div>

