
  <div class='container'>
    <div class='text-center mb-5'>
      <% if current_user.receiver? %>
        <h1>Veja aqui todas as suas doações disponíveis para você</h1>
      <% else %>
        <h1>Veja aqui todas as suas doações</h1>
      <% end %>
    </div>
    <div class='card-donation d-flex'>
      <% @donations.each do |donation| %>
        <%= link_to donation_path(donation) do  %>
          <div class='card-donation-infos rounded-lg d-flex justify-content-center'>
            <h3> <%= donation.name.capitalize %> </h3>
            <p> <%= donation.description %> </p>
            <%= cl_image_tag donation.photo.key, height: 30, width: 40, crop: :fill %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


