<% if current_user == "receiver" %>
  <div class='card-donation d-flex'>
    <div class='card-donation-infos rounded-lg d-flex justify-content-center'>
      <h3> <%= @donation.name.capitalize %> </h3>
      <p> <%= @donation.description %> </p>
    </div>
  </div>
<% else %>
  <div class="container">
    <h2>Essas são as pessoas que poderão receber sua doação =)</h2>
    <div class='card-donation d-flex'>
      <% @users.each do |user| %>
        <div class='card-donation-infos rounded-lg d-flex justify-content-center'>
          <h3> <%= user.name.capitalize %> </h3>
          <p> <%= user.description %> </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>