@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.avatar-left{
 justify-content: left;
}

.avatar-right{
 justify-content: right;
}

.avatar-square-medium img{
  width: 180px;
  height:200px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-right img{
  justify-content: right;
}

.avatar-left img{
  justify-content: left;
}

.avatar-extra-large-right img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 16px auto;
}

.avatar-extra-large-left img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 16px auto;
}


.avatar-number{
  width: 40px;

}

.contador{
  font-family: 'Luckiest Guy', cursive;
  background-color: #F36436;
  position: absolute;
  bottom: 0px;
  border-radius: 50%;
  width: 20px;
  height: 0px;
  padding-left: 4px;
  margin-left: -11px;
  padding-block-end: 24px;
}

li {
  list-style-type: none;
}

img.lg-user-avatar {
  height: 60px;
  width: 60px;
}
