.banner-home{
  background-size: cover;
  color:white;
  opacity: 0.8;
  height: 400px;
}

#banner-typed-text{
  font-family: 'Balsamiq Sans', cursive;
  color:#ff8246;
}

#banner-typed-text-fixed{
  font-family: 'Balsamiq Sans', cursive;
}
