.speech-bubble {
  position: relative;
  background: #ff8246;
  border-radius: .4em;
  max-width: 400px;
  p {
    color: white;
    margin: 1rem;
    text-align: justify;
  }
  h4 {
    color: white;
    margin: 1rem;
    margin-bottom: 0rem;
    font-weight: bolder;
    text-align: justify;
  }
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #ff8246;
  border-bottom: 0;
  border-right: 0;
  margin-left: -12.5px;
  margin-bottom: -25px;
}
