@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.card-donation-infos {
  margin: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  margin-right: 10px;
  margin-top: 20px;
  color: black;
 }

.lg-user-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.receivers-box {
  padding: 30px 20px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  color: white;
  background: rgb(61,7,1);
  background: -webkit-linear-gradient(318deg, rgba(61,7,1,1) 68%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(318deg, rgba(61,7,1,1) 68%, rgba(0,0,0,1) 100%);
  background: linear-gradient(48deg, rgba(61,7,1,1) 68%, rgba(0,0,0,1) 100%);
}

.receivers-box h2 {
  color: white;
  font-weight: bold;
}
.no-decoration a {
  text-decoration: none;
}

.round-borders {
  border-radius: 6px;
}

.gray-category {
  color: gray;
}

.salmon-title {
  color: $salmon;
  font-weight: bold;
}

.dark-description {
  color: #2b2b2b;
}

.salmon-underline {
  text-decoration: underline solid $salmon;

}

.perfect-circle-add-button {
  border-radius: 100%;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-color: #303960;
  margin-top: 62px;
  &:hover {
    background-color: #2e023f;
    transition-duration: 2s;
  }
}

.perfect-circle-add-button h3 {
  color: white;
  font-size: 40px;
}

.green-circle-button {
  background-color: green;
}

.small-check {
  font-size: 29px;
}

.margin-top-button {
  margin-top: 6px;
}

.card-home-second img{
  width:400px;
  height:400px;
}

.card-rene {
   font-family: 'Bellota', cursive;
}

.card-rene h4{
   font-family: 'Bellota', cursive;
}

.card-home-second-infos{
  color:black;
}

.card-home-third-infos{
  background-color: blue;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  margin: auto 0px;
}

.card-home-infos{
  margin-top: 70px;
}

.flip-box {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.rounded {
  background-color: $salmon;
  padding: 24px;
  font-size: 24px;
  margin-bottom: 120px;
  }


.cards{
  display:flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 8px;
  flex-wrap: wrap;
  justify-content: start;
}

.cards h3 {
  font-size: 18px;
}

.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 4px;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}

.card-body {
  padding: 0.5rem;
}

.card-body h5 {
  font-size: 10px;
  color: gray;
}

.card-body h3 {
  font-size: 16px;
  color: #758184;
  font-weight: bold;

}


.donation-open {
  color: #41C007;
}

.donation-closed {
  color: #0708C0;
}

.donation-progress {
  color: #FF7A00;
}

.status-position {
  border-top: 1px solid #e8e4e1;
  margin-right: -220px;
  p {
    font-weight: bold;
    margin-left: 8px;
  }
}

.tittle h2 {
  font-size: 20px;
}


.effect:hover,
.effect:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.name {
  color: #41C007;
  background-color: #F4F4F4;
  font-weight: bold;
  font-size: 20px;
}

