.form-body {
 background: #eeeeee;
 background: linear-gradient(0deg, rgba(244,244,244,1) 0%, #ff8246 100%);
 min-height: 720px;
}

.form-container{
  margin: 0px auto;
  padding: 20px;
  align-items:center;
  display:flex;
  flex-direction:column;
}

.form-container h2{
  font-family: 'Bellota Text', cursive;
  color:#FF8246;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #272121;
}

.form-box{
  width: 95%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.form-inputs{
  min-width: 100px;
}

#donation_description{
  height: 160px;
}

.form-actions {
  text-align:center;
  // margin-top:80px;
}

#ponto {
  margin: -13px 10px;
  font-size: 26px;
  color:rgba(246,137,137,1);
  font-weight: bold;
}

.link-forms{
  justify-content:center;
}

.link-forms a{
  color:rgba(246,137,137,1);
  font-weight: bold;
  font-size: 16px;
  justify-content: center;
}

.link-forms a:hover{
  text-decoration: none;
  color:#EE5B4D;
}

.link-forms-question {
  font-size: 16px;
  text-align: center;
}

.link-forms-question a{
  color:rgba(246,137,137,1);
  font-weight: bold;
  text-decoration:none;
}

.link-forms-question a:hover{
  text-decoration: none;
  color:#EE5B4D;
}

.container.form {
  width: 80%;
  min-height: 0vh;
  padding-top: 0px;
  margin-bottom: -30px;
  text-align: center;
}
