.navbar-lewagon {
  justify-content: space-between;
  background-color: #ff8246;
  height: 10vh;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-color {
  background-color: #fd604e ;
  opacity: 0.7;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 63px;
}

.dropdown-menu {
  background-color:white;
}

.fa-home{
  font-size: 32px;
  color:white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  margin-left: 10px;
}
.fa-home:hover {
  font-size: 33px;
  text-decoration: none;
  color:white;
}

.fa-home::before {
  content: none;
}
