#rene p {
  color: #2A2D35;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1px 0 0 1px;
  white-space: normal;
  overflow: hidden;
  width: 10em;
}

#rene p {
  animation: type 4s steps(60, end), forwards;
  /* Chrome and Safari Optimisation */
  -webkit-animation: type 4s steps(60, end), forwards;
  /* Firefox Optimisation */
  -moz-animation: type 4s steps(60, end);
  /* Opera Optimisation */
  o-animation: type 4s steps(60, end);

}

#rene {
  width:50%;
}

.img-rene img {
  width: 250px;
  margin-left: 200px;
}

#rene-link{
  color:red;
}

#rene-link:hover{
  font-size:17px;
  cursor: pointer;
}



/* Remaining CSS3 Animation */

@keyframes type {
    from { width: 0; }
}

/* Chrome and Safari Optimisation */
@-webkit-keyframes type {
    from { width: 0; }
}

/* Firefox Optimisation */
@-moz-keyframes type {
    from { width: 0; }
}

/* Opera Optimisation */
@-o-keyframes type {
    from { width: 0; }
}

