.smallBox-left{
  font-size: 16px;
  margin-right: 60px;
  justify-content:left;
}

.smallBox-right{
  font-size: 16px;
  margin-left: 60px;
  justify-content:right;
}


.bigBox{
  justify-content: space-around;
  margin: 0 auto;
}
